.account{
    width: 90%;
    height: fit-content;
    margin: auto;
    background-color: lightcyan;
    margin-top: 100px;
    text-align: center;
    border: 2px solid darkblue;
    border-radius: 10px;
}

.account h3{
    font-family: "Ysabeau SC", serif;
    font-size: 26px;
    color: darkblue;
    margin-top: 20px;
}

.account .data{
    width: 80%;
    height: fit-content;
    margin: auto;
    margin-top: 30px;
    text-align: start;
}

.data label{
    width: 100px;
    height: 40px;
    font-family: "Ysabeau SC", serif;

}

.data h2{
    width: 100%;
    height: 40px;
    margin: 0;
    border: 2px solid darkblue;
    padding: 5px;
}


.account button{
    font-family: "Ysabeau SC", serif;
    width: 100px;
    margin: auto;
    margin-top: 50px;
    padding: 5px;
    text-align: center;
    border: 2px solid red;
    border-radius: 5px;
    color: red;
    font-size: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
}

.account button:hover{
    background-color: red;
    color: white;
}